
@import url('https://fonts.googleapis.com/css?family=Inter&display=swap');

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3b3bdf;
}

.container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 10px;
}

.wrapper {
    width: 100%;
}

.Login_case {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 10px;
}

.Login_band {
    font-size: 18px;
    color: #666;
    text-align: center;
    margin-bottom: 20px;
}

.User_name {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input_username {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}
.pass_word {
    font-size: 14px;
    color: #333;
    margin-bottom: 5px;
}

.input_password {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 15px;
}


button {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
    transition: background-color 0.3s;
    margin-bottom: 15px;
}

button:hover {
    background-color: #0056b3;
}
.or {
    text-align: center;
    color: #666;
    margin: 10px 0;
}
.button_register {
    background-color: #007bff;
}

.v4_24:hover {
    background-color: #218838;
}
